<style>
    .sticky {
      position: sticky;
      position: -webkit-sticky;
      top: 30px;
    }

    .anchorjs-link {
        transition: all .25s linear;
    }

    *:hover>.anchorjs-link {
        margin-left: -1.125em !important;
    }

    .bd-content {
        position: relative;
    }

    #navbar li > .active {
        display: block !important;
        font-weight: 700;
        border: 0 #eee solid;
        border-left-width: 4px;
    }

    #sidenav-content li > .active {
        display: block;
        font-weight: 500;
        border: 0px;
        padding-left: 15px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    #sidenav-content li > a {
        font-weight: 400;
        color: #464a4c;
        padding-left: 15px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    #sidenav-content li > .active:hover {
        font-weight: 500;
        color: #0275d8;
        padding-left: 15px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    #sidenav-content li > a:hover {
        font-weight: 400;
        color: #0275d8;
        padding-left: 15px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .bd-toc-item{
      padding: 0;
      list-style-type: none;
    }

    .contents-lead {
      padding: .25rem .75rem;
      color: #0275d8;
      line-height: 3;
    }
</style>
